@media (max-width: 1200px) {
    /* 993 - 1200 */
    .container {
        max-width: 970px;
    }

    .hero {
        padding: 178px 0 155px;
    }

    .hero__title {
        font-size: 50px;
    }

    .hero__subtitle {
        font-size: 50px;
    }

    .hero__img-people {
        top: 265px;
        right: 156px;
        width: 419px;
    }

    .hero__img-wood {
        width: 62%;
        top: 135px;
        right: 38px;
    }

    .sentence__content {
        width: 259px;
        margin-right: 23px;
    }

    .sentence__order {
        margin-right: 30px;
        width: 310px;
    }

    .work__img1 {
        display: none;
    }

    .work__tel1 {
        left: 212px;
    }

    .work__tel2 {
        left: 234px;
    }


    .discount {
        height: 510px;
        z-index: -2;
    }

    .discount__boxes {
        top: -36px;
        z-index: 2;
    }

    .discount__box {
        padding: 25px 25px 25px 20px;
        max-width: 375px;
        margin-bottom: 25px;
    }

    .discount__img {
        right: 8px;
        height: 116%;
        z-index: 1;
    }

    .presents__container {
        padding: 115px 0 75px 74px;
    }

    .presents__img3 {
        display: none
    }

    .presents__tel1 {
        right: 180px;
    }

    .presents__tel2 {
        right: 202px;
    }

    .presents__img1 {
        right: 440px;
    }

    .presents__desc {
        width: 71%;
    }


    .connection__store {
        margin: 20px 150px 0;
    }

    .work__container {
        padding: 96px 0 90px 0;
    }

    .work__tel1 {
        left: 127px;
    }

    .work__tel2 {
        left: 148px;
    }

    .work__img3 {
        left: 361px;
        top: 576px;
    }

    .owl-carousel {
        display: none;
        width: 85%;
    }

    .bonus {
        padding: 102px 0 106px;
    }

    .container {
        max-width: 902px;
    }

    .footer__container {
        grid-template-columns: 46% 50%;
    }

    .footer__logo {
        margin-left: 140px;
    }
}

@media (max-width: 992px) {
    /* 769 - 992 */
    .container {
        max-width: 750px;
    }

    .hero {
        padding: 156px 0 140px;
    }

    .hero__title {
        font-size: 45px;
    }

    .hero__subtitle {
        font-size: 44px;
    }

    .hero__btn {
        font-size: 16px;
        padding: 18px 0;
        width: 183px;
    }

    .hero__img-people {
        right: 54px;
        top: 232px;
        width: 411px;
    }

    .hero__img-wood {
        width: 62%;
        top: 217px;
        right: 38px;
    }

    .sentence {
        padding: 40px 0 58px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sentence__container {
        display: unset;
    }

    .icon {
        margin: auto;
    }

    .sentence__content {
        margin: auto;
        width: 265px;
        padding-top: 30px;
    }

    .work {
        background: #F4F5F6;
        border-radius: 50px;
        z-index: 2;
        padding: 51px 0 4px;
    }

    .work__container {
        padding: 65px 0 35px 0;
    }

    .work__title {
        font-size: 36px;
    }

    .work__img1 {
        left: 61px;
        width: 272px;
        top: 4px;
        display: unset;
    }

    .work__tel1 {
        display: none;
    }

    .work__tel2 {
        display: none;
    }

    .work__img3 {
        left: 234px;
        width: 215px;
        top: 466px;
    }

    .owl-carousel {
        width: 71%;
        z-index: 2;
        margin-left: 56px;
    }

    .discount {
        margin: 150px 0 180px;
    }

    .discount__boxes {
        margin-left: 100px;

    }

    .discount__box {
        max-width: 400px;
        height: 179px;
    }

    .discount__box:nth-child(2) {
        margin-left: 140px;
    }

    .discount__title {
        font-size: 23px;
    }

    .discount__img {
        display: none;
    }

    .presents {
        margin: 150px 0 50px;
        z-index: 2;
        padding: 25px 0 145px;
    }

    .presents__container {
        padding: 63px 0 91px 0;
    }

    .presents__title {
        font-size: 34px;
    }

    .presents__img1 {
        right: 251px;
        width: 187px;
        top: 473px;
    }

    .presents__tel1 {
        display: none;
    }

    .presents__tel2 {
        display: none;
    }

    .presents__img3 {
        display: unset;
        left: 460px;
        width: 266px;
        top: -26px;
    }

    .presents__desc {
        font-size: 16px;
        width: 76%;
    }

    .owl-carousel {
        width: 71%;
        z-index: 2;

    }

    .connection__title {
        font-size: 42px;
    }

    .connection__store {
        margin: 20px 0 0 71px;
    }

    .footer {
        padding: 53px 0 105px;
    }

    .footer__container {
        max-width: 1050px;
        text-align: center;
        display: unset;
    }

    .footer__logo {
        margin-bottom: 23px;
        margin-left: unset;
    }

    .footer__social {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 33px;
    }

    .footer__img1 {
        width: 36%;
    }

    .footer__img2 {
        width: 31%;
        top: 55px;
    }

    .footer__img3 {
        width: 39%;
        top: 354px;
    }
}

@media (max-width: 768px) {
    /* 481 - 768 */
    .container {
        max-width: 540px;
    }

    .header {
        display: flex;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        background: rgb(0, 255, 217);
        height: 100%;
        width: 50%;
        right: -100%;
        top: 0;
        transition: .6s;

    }

    ul li a {
        color: #FFFFFF;
    }

    .menu.show-menu {
        right: 0;
    }

    .menu__item {
        margin-bottom: 20px;
    }

    .header .menu__mr {
        margin: unset;
    }

    .mobile-menu {
        display: block;
        z-index: 111111;

    }

    .hero {
        padding: 119px 0 328px;
    }

    .hero__content {
        margin-left: 20px;
    }

    .hero__title {
        font-size: 43px;
    }

    .hero__subtitle {
        font-size: 33px;
        line-height: 50px;
    }

    .hero__btn {
        margin-top: 16px;
        font-size: 16px;
        padding: 13px 0;
        width: 179px;
    }

    .hero__img-people {
        right: 54px;
        top: 362px;
        width: 373px;
    }

    .hero__img-wood {
        width: 101%;
        top: 300px;
        right: -2px;
    }


    .sentence {
        margin-bottom: 50px;
    }

    .work {
        background: #F4F5F6;
        padding: 201px 0 92px;
    }

    .work__container {
        display: unset;
    }


    .work__img1 {
        margin: auto;
        left: 0;
        right: 0;
        width: 203px;
        top: -69px;
    }

    .work__img3 {
        left: 232px;
        top: 243px;
    }



    .discount__boxes {
        left: -58px;
    }

    .discount__box:nth-child(2) {
        margin-left: unset;
    }


    .presents {
        background: #F4F5F6;
        border-radius: 50px;
        margin: 150px 0 50px;
        z-index: 2;
        padding: 470px 0 92px;
    }

    .container {
        display: unset;
    }

    .presents__img3 {
        right: 0;
        left: 0;
        width: 210px;
        top: -67px;
        margin: auto;
    }

    .presents__img1 {
        right: 256px;
        width: 154px;
        top: 296px;
        z-index: 2;
    }

    .connection {
        padding-bottom: 81px;
    }

    .connection__input {
        padding: 17px 94px 16px 94px;
        margin-bottom: 30px;
    }

    .connection__btn {
        margin-left: unset;
    }

    .connection__store {
        margin: 20px 0 0 45px;
    }

    .footer__logo {
        margin: auto;

    }

    .footer__social {
        margin-top: 23px;
    }

    .footer__content {
        margin-bottom: 20px;
    }

    .footer__social {
        grid-template-columns: 1fr;
    }

    .footer__img3 {
        width: 55%;
        top: 441px;
    }

    .footer__img2 {
        width: 36%;
        top: 200px;
    }

    .footer__img1 {
        width: 39%;
        bottom: 139px;
    }
}

@media (max-width: 480px) {
    /* 320 - 480 */
    .header {
        display: flex;
    }

    .hero {
        padding: 120px 0 309px;
    }

    .hero__content {
        margin-left: 5px;
    }

    .hero__title {
        font-size: 28px;
        margin: -13px 20px;
    }

    .hero__subtitle {
        font-size: 14px;
        line-height: 50px;
        margin-left: 20px;
    }

    .hero__btn {
        margin: 8px 0 0 20px;
        font-size: 11px;
        padding: 8px 0;
        width: 123px;
    }


    .hero__btn svg {
        width: 15%;
        margin-left: 10px;
    }

    .hero__img-people {
        right: 20px;
        top: 340px;
        width: 282px;
    }

    .hero__img-fog {
        right: 9px;
        top: 412px;
        width: 299px;
    }

    .hero__img-wood1 {
        right: 235px;
        top: 413px;
        width: 61px;
    }

    .hero__img-wood2 {
        top: 293px;
        right: 7px;
        width: 85px;
    }

    .sentence__title {
        font-size: 19px;
    }

    .sentence__desc {
        font-size: 12px;
        line-height: 22px;
    }

    .work {
        border-radius: 20px;
        padding: 268px 0 34px;
    }

    .work__tel1 {
        display: none
    }

    .work__tel2 {
        display: none
    }

    .work__img1 {
        left: 0;
        width: 104px;
        top: -30px;
        right: 0;
        margin: auto;
    }

    .work__img3 {
        left: 163px;
        width: 107px;
        top: 119px;
    }

    .work__subtitle {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: -14px;
    }

    .work__title {
        line-height: 35px;
        font-size: 30px;
    }

    .work__desc {
        font-size: 12px;
        line-height: 22px;
    }

    .work .owl-theme .owl-nav.disabled + .owl-dots {
        margin-top: 30px;
    }


    .discount {
        height: 482px;
    }
    .discount__box {
        max-width: 256px;
        height: 166px;
    }

    .discount__icon {
        width: 40px;
        height: 40px;
    }

    .discount__icon svg {
        padding: 3px;
    }

    .discount__title {
        font-size: 15px;
    }

    .discount__desc {
        font-size: 12px;
        margin-top: 5px;
        line-height: 20px;
    }

    .discount__box:nth-child(odd) {
        margin-left: -19px;
    }

    .discount__box:nth-child(2) {
        margin-left: -14px;
    }

    .presents__img3 {
        right: 0;
        left: 0;
        width: 115px;
        top: -30px;
        margin: auto;
    }

    .presents__img1 {
        right: 172px;
        width: 109px;
        top: 148px;
    }

    .presents {
        border-radius: 20px;
        padding: 280px 0 48px;
    }

    .presents__desc {
        font-size: 14px;
        width: 62%;
    }

    .presents__title {
        font-size: 30px;
    }

    .owl-carousel {
        width: 71%;
        z-index: 2;
        margin-left: 43px;
    }

    .connection {
        padding-bottom: 43px;
    }

    .connection__title {
        line-height: 38px;
        font-size: 25px;
    }

    .connection__input {
        padding: 17px 34px 16px 58px;
        margin-bottom: 22px;
    }

    .connection__btn {
        font-size: 14px;
        padding: 11px 28px 11px 28px;
    }

    .connection__apple {
        margin-bottom: 20px;
    }

    .connection__store {
        margin: 20px 0 0 67px;
    }

    footer {
        padding: 17px 0 17px;
    }


    .footer__img2 {
        width: 46%;
        right: -45px;
    }

    .footer__img1 {
        width: 38%;
        bottom: 200px;
    }

    .footer__img3 {
        width: 60%;
        right: 0;
        top: 507px;
    }

}