@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

//============= grid ============//

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}

//=========== header ============//

.header {
  padding: 30px 0;
  position: absolute;
  width: 100%;
  z-index: 3;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    display: flex;
    align-items: center;

    &__mr {
      margin: 0 43px 0 69px;
    }

    &__link {
      font-size: 14px;
      line-height: 17px;
      color: #0F2336;
      font-weight: bold;

      &:hover {
        margin-top: 3px;
        border-bottom: 3px solid #0F2336;
      }
    }

    &__btn {
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
      padding: 16px 26px;
      background: #0F2336;
      border: 1px solid #0F2336;
      box-sizing: border-box;
      border-radius: 8px;
      transition: .4s;

      &:hover {
        background: #F5F6F7;
        color: #0F2336;
        border: 1px solid #0F2336;
      }
    }
  }
}

//======== hero =======//

.hero {
  background: #F5F6F7;
  position: relative;
  padding: 199px 0 185px;
  z-index: 2;


  &__img-people {
    position: absolute;
    right: 232px;
    top: 188px;
  }

  &__img-fog {
    position: absolute;
    right: 100px;
    top: 188px;
    z-index: -2;
  }

  &__img-wood1 {
    position: absolute;
    right: 697px;
    top: 390px;
    z-index: -1;
  }

  &__img-wood2 {
    position: absolute;
    right: 191px;
    top: 161px;
    z-index: -1;
  }

  &__content {
    width: 553px;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 136px;
  }

  &__title {
    font-weight: bold;
    font-size: 55px;
    line-height: 76px;
    letter-spacing: 1.11px;
    color: #00CCCC;
  }

  &__subtitle {
    font-weight: bold;
    font-size: 55px;
    line-height: 76px;
    letter-spacing: 1.11px;
    color: #0F2336;
  }

  &__btn {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #0F2336;
    background: #00CCCC;
    border: 1px solid #00CCCC;
    border-radius: 14px;
    transition: .3s;
    padding: 19px 0;
    width: 208px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: #F5F6F7;
      border: 1px solid #00CCCC;
      box-shadow: 0 3px 18px rgba(0, 201, 201, 0.55);
    }

    svg {
      margin-left: 10px;
    }
  }
}

//========= sentence ========//

.sentence {
  padding: 100px 0 58px;

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__content {
    width: 293px;
  }

.icon{
  background: linear-gradient(160.47deg, rgba(0, 201, 201, 0.147) 15.15%, rgba(0, 201, 201, 0.699) 93.19%);
  width: 105px;
  height: 105px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}

  &__order {
    margin-right: 60px;
    width: 349px;
  }

  &__title {
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.2px;
    color: #0F2336;
    margin: 29px 0 12px;
  }

  &__desc {
    font-size: 16px;
    line-height: 24px;
    color: #576D81;
  }
}

//====== work =======//

.work {
  padding: 100px 0 220px;
  position: relative;
  z-index: 3;

  &__tel1 {
    position: absolute;
    left: 309px;
    top: 45px;
    z-index: 2;
  }

  &__tel2 {
    position: absolute;
    left: 328px;
    top: 61px;
    z-index: 1;
  }

  &__img1 {
    position: absolute;
    top: 220px;
    left: 184px;
  }

  &__img3 {
    position: absolute;
    bottom: 175px;
    left: 539px;
    z-index: 2;
  }

  &__container {
    background: #F4F5F6;
    border-radius: 50px;
    display: grid;
    align-items: center;
    grid-template-columns: 50% 50%;
    padding: 115px 0 97px 0;
  }

  &__content {
    max-width: 414px;
  }

  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #00CCCC;
    height: 10px;
    width: 55px;
  }

  .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 50px;
    text-align: left;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 3px;
  }

  &__subtitle {
    font-size: 18px;
    line-height: 18px;
    color: #576D81;
  }

  &__title {
    font-weight: 900;
    font-size: 40px;
    line-height: 55px;
    color: #0F2336;
    margin: 22px 0 21px;
  }

  &__desc {
    font-size: 16px;
    line-height: 24px;
    color: #576D81;
  }
}

//====== bonus =======//

.bonus {
  background: #F4F5F6;
  position: relative;
  padding: 151px 0 149px;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 527px;

  }

  &__content {
    display: grid;
    align-items: center;
    grid-template-rows: repeat(3, 1fr);
    background: #FFFFFF;
    border-radius: 8px;
    width: 455px;
    height: 179px;
    padding: 36px 31px 43px 98px;
    box-shadow: 0 8px 32px rgba(15, 35, 54, 0.06);
  }

  .center {
    margin: 30px 0 30px ;
  }

  .icon {
    position: absolute;
    top: 20px;
    left: 30px;
    height: 50px;
    width: 50px;
    background: #F6F7F8;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cen{
    position: absolute;
    top: 200px;
    left: 200px;
    height: 50px;
    width: 50px;
    background: #F6F7F8;
    border-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title{
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: #0F2336;
    font-weight: bold;
  }
  &__desc{
    font-size: 16px;
    line-height: 24px;
    color: #576D81;
    margin-top: 25px;
  }

  .top {
    position: absolute;
    top: -30px;
    left: 120px;
  }

  .bottom {
    position: absolute;
    bottom: -30;
    left: 120px;
  }

  &__img{
    position: absolute;
    top: -90px;
    right: 197px;
  }
}

//======= presents ======//

.presents {
  padding: 180px 0 150px;
  position: relative;
  z-index: 5;

  &__tel1 {
    position: absolute;
    top: 130px;
    right: 274px;
    z-index: 3;
  }

  &__tel2 {
    position: absolute;
    top: 148px;
    right: 295px;
    z-index: 2;
  }

  &__img3 {
    position: absolute;
    right: 150px;
    top: 294px;
    z-index: 1;
  }

  &__img1 {
    position: absolute;
    right: 536px;
    z-index: 1;
    bottom: 104px;
  }

  &__container {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    background: #F4F5F6;
    border-radius: 50px;
    padding: 115px 0 109px 140px;

  }

  &__content {
    width: 404px;

  }

  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #00CCCC;
    height: 10px;
    width: 55px;
  }

  .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 50px;
    text-align: left;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 3px;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #576D81;
  }

  &__title {
    font-weight: 900;
    font-size: 40px;
    line-height: 55px;
    color: #0F2336;
    margin: 22px 0 21px;
  }

  &__desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #576D81;
  }

}

//=========== connection =======//

.connection {
  padding-bottom: 113px;

  &__content {
    text-align: center;
  }

  &__title {
    font-weight: 900;
    font-size: 50px;
    line-height: 60px;
    color: #0F2336;
    margin: 23px 0 20px;
  }

  &__input {
    background: #F0F0F2;
    border: 1px solid #F0F0F2;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 17px 111px 16px 114px;
  }

  &__btn {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #0F2336;
    background: #00CCCC;
    border: 1px solid #00CCCC;
    box-sizing: border-box;
    border-radius: 14px;
    padding: 16px 35px 17px 36px;
    margin-left: 20px;
    transition: .3s;

    &:hover {
      background: #FFFFFF;
      border: 1px solid #00CCCC;
      box-shadow: 0 3px 18px rgba(0, 201, 201, 0.55);

    }
  }

  &__store {
    margin: 10px 262px 0;
  }

  &__apple {
    background: #240C39;
    padding: 16px 33px;
    border-radius: 5px;
    margin-right: 24px;
    transition: .4s;

    &:hover {
      box-shadow: 0 3px 18px rgb(36, 12, 57);
    }

  }

  &__play {
    background: #240C39;
    padding: 16px 33px;
    border-radius: 5px;
    transition: .4s;

    &:hover {
      box-shadow: 0 3px 18px rgb(36, 12, 57);    }
  }
}

//======== footer ========//

.footer {
  background: #0F2336;
  padding: 85px 0 105px;
  position: relative;

  &__img1 {
    position: absolute;
    left: 0;
    bottom: 22px;
  }

  &__img2 {
    position: absolute;
    right: 0;
    top: 45px;
  }

  &__img3 {
    position: absolute;
    right: 0;
    top: 161px;
  }

  &__container {
    max-width: 1050px;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  &__social {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 41px;
  }

  &__title {
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #00CCCC;
    margin-bottom: 13px;

  }

  &__link {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.39px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 5px;
    transition: .4s;

    &:hover {
      color: rgba(155, 255, 255, 0.93);
    }
  }
}