@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  padding: 30px 0;
  position: absolute;
  width: 100%;
  z-index: 3;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .menu {
  display: flex;
  align-items: center;
}
.header .menu__mr {
  margin: 0 43px 0 69px;
}
.header .menu__link {
  font-size: 14px;
  line-height: 17px;
  color: #0F2336;
  font-weight: bold;
}
.header .menu__link:hover {
  margin-top: 3px;
  border-bottom: 3px solid #0F2336;
}
.header .menu__btn {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 16px 26px;
  background: #0F2336;
  border: 1px solid #0F2336;
  box-sizing: border-box;
  border-radius: 8px;
  transition: 0.4s;
}
.header .menu__btn:hover {
  background: #F5F6F7;
  color: #0F2336;
  border: 1px solid #0F2336;
}

.hero {
  background: #F5F6F7;
  position: relative;
  padding: 199px 0 185px;
  z-index: 2;
}
.hero__img-people {
  position: absolute;
  right: 232px;
  top: 188px;
}
.hero__img-fog {
  position: absolute;
  right: 100px;
  top: 188px;
  z-index: -2;
}
.hero__img-wood1 {
  position: absolute;
  right: 697px;
  top: 390px;
  z-index: -1;
}
.hero__img-wood2 {
  position: absolute;
  right: 191px;
  top: 161px;
  z-index: -1;
}
.hero__content {
  width: 553px;
}
.hero__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 136px;
}
.hero__title {
  font-weight: bold;
  font-size: 55px;
  line-height: 76px;
  letter-spacing: 1.11px;
  color: #00CCCC;
}
.hero__subtitle {
  font-weight: bold;
  font-size: 55px;
  line-height: 76px;
  letter-spacing: 1.11px;
  color: #0F2336;
}
.hero__btn {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #0F2336;
  background: #00CCCC;
  border: 1px solid #00CCCC;
  box-shadow: 0 3px 18px rgba(0, 201, 201, 0.55);
  border-radius: 14px;
  transition: 0.4s;
  padding: 19px 0;
  width: 208px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__btn:hover {
  background: rgba(2, 156, 156, 0.8);
  border: 1px solid #00CCCC;
}
.hero__btn svg {
  margin-left: 10px;
}

.sentence {
  padding: 100px 0 58px;
}
.sentence__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.sentence__content {
  width: 293px;
}
.sentence__order {
  margin-right: 60px;
  width: 349px;
}
.sentence__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #0F2336;
  margin: 29px 0 12px;
}
.sentence__desc {
  font-size: 16px;
  line-height: 24px;
  color: #576D81;
}

.work {
  padding: 100px 0 220px;
  position: relative;
  z-index: 3;
}
.work__tel1 {
  position: absolute;
  left: 309px;
  top: 45px;
  z-index: 2;
}
.work__tel2 {
  position: absolute;
  left: 328px;
  top: 61px;
  z-index: 1;
}
.work__img1 {
  position: absolute;
  top: 220px;
  left: 184px;
}
.work__img3 {
  position: absolute;
  bottom: 167px;
  left: 539px;
  z-index: 2;
}
.work__container {
  background: #F4F5F6;
  border-radius: 50px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  Width: 1140px;
  Height: 540px;
}
.work__content {
  width: 414px;
}
.work__subtitle {
  font-size: 18px;
  line-height: 18px;
  color: #576D81;
}
.work__title {
  font-weight: 900;
  font-size: 40px;
  line-height: 55px;
  color: #0F2336;
  margin: 22px 0 21px;
}
.work__desc {
  font-size: 16px;
  line-height: 24px;
  color: #576D81;
}

/*# sourceMappingURL=style.css.map */
