@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  padding: 30px 0;
  position: absolute;
  width: 100%;
  z-index: 3;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .menu {
  display: flex;
  align-items: center;
}
.header .menu__mr {
  margin: 0 43px 0 69px;
}
.header .menu__link {
  font-size: 14px;
  line-height: 17px;
  color: #0F2336;
  font-weight: bold;
  position: relative;
}
.header .menu__link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #0F2336;
  left: 0;
  bottom: -2px;
  transform: scale(0);
  transition: 0.4s;
}
.header .menu__link:hover {
  color: #0F2336;
}
.header .menu__link:hover:before {
  transform: scale(1);
}
.header .menu__btn {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 16px 26px;
  background: #0F2336;
  border: 1px solid #0F2336;
  box-sizing: border-box;
  border-radius: 8px;
  transition: 0.4s;
}
.header .menu__btn:hover {
  background: #00ffd9;
  color: #0F2336;
  box-shadow: 0 1px 10px #00aaaa;
  border: 1px solid rgba(6, 90, 170, 0.62);
}

.mobile-menu {
  display: none;
  z-index: 1111;
  color: #0F2336;
  border: none;
  background: transparent;
  font-size: 36px;
  cursor: pointer;
  top: 40px;
  right: 25px;
  position: fixed;
}

.hero {
  background: #F5F6F7;
  position: relative;
  padding: 199px 0 185px;
  z-index: 2;
}
.hero__img-people {
  position: absolute;
  right: 232px;
  top: 188px;
}
.hero__img-fog {
  position: absolute;
  right: 100px;
  top: 188px;
  z-index: -2;
}
.hero__img-wood1 {
  position: absolute;
  right: 697px;
  top: 390px;
  z-index: -1;
}
.hero__img-wood2 {
  position: absolute;
  right: 191px;
  top: 161px;
  z-index: -1;
}
.hero__content {
  width: 553px;
}
.hero__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 136px;
}
.hero__title {
  font-weight: bold;
  font-size: 55px;
  line-height: 76px;
  letter-spacing: 1.11px;
  color: #00CCCC;
}
.hero__subtitle {
  font-weight: bold;
  font-size: 55px;
  line-height: 76px;
  letter-spacing: 1.11px;
  color: #0F2336;
}
.hero__btn {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #0F2336;
  background: #00CCCC;
  border: 1px solid #00CCCC;
  border-radius: 14px;
  transition: 0.3s;
  padding: 19px 0;
  width: 208px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__btn:hover {
  background: #F5F6F7;
  border: 1px solid #00CCCC;
  box-shadow: 0 3px 18px rgba(0, 201, 201, 0.55);
}
.hero__btn svg {
  margin-left: 10px;
}

.sentence {
  padding: 100px 0 58px;
}
.sentence__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.sentence__content {
  width: 293px;
}
.sentence .icon {
  background: linear-gradient(160.47deg, rgba(0, 201, 201, 0.147) 15.15%, rgba(0, 201, 201, 0.699) 93.19%);
  width: 105px;
  height: 105px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}
.sentence__order {
  margin-right: 60px;
  width: 349px;
}
.sentence__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #0F2336;
  margin: 29px 0 12px;
}
.sentence__desc {
  font-size: 16px;
  line-height: 24px;
  color: #576D81;
}

.work {
  padding: 100px 0 220px;
  position: relative;
  z-index: 3;
}
.work__tel1 {
  position: absolute;
  left: 309px;
  top: 45px;
  z-index: 2;
}
.work__tel2 {
  position: absolute;
  left: 328px;
  top: 61px;
  z-index: 1;
}
.work__img1 {
  position: absolute;
  top: 220px;
  left: 184px;
}
.work__img3 {
  position: absolute;
  bottom: 175px;
  left: 539px;
  z-index: 2;
}
.work__container {
  background: #F4F5F6;
  border-radius: 50px;
  display: grid;
  align-items: center;
  grid-template-columns: 50% 50%;
  padding: 115px 0 97px 0;
}
.work__content {
  max-width: 414px;
}
.work .owl-theme .owl-dots .owl-dot.active span, .work .owl-theme .owl-dots .owl-dot:hover span {
  background: #00CCCC;
  height: 10px;
  width: 55px;
}
.work .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 50px;
  text-align: left;
}
.work .owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 3px;
}
.work__subtitle {
  font-size: 18px;
  line-height: 18px;
  color: #576D81;
}
.work__title {
  font-weight: 900;
  font-size: 40px;
  line-height: 55px;
  color: #0F2336;
  margin: 22px 0 21px;
}
.work__desc {
  font-size: 16px;
  line-height: 24px;
  color: #576D81;
}

.owl-carousel {
  display: none;
  width: 80%;
  z-index: 1;
}

.bonus {
  background: #F4F5F6;
  position: relative;
  padding: 151px 0 149px;
  z-index: -3;
}
.bonus__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 527px;
}
.bonus__content {
  display: grid;
  align-items: center;
  grid-template-rows: repeat(3, 1fr);
  background: #FFFFFF;
  border-radius: 8px;
  width: 455px;
  height: 179px;
  padding: 36px 31px 43px 98px;
  box-shadow: 0 8px 32px rgba(15, 35, 54, 0.06);
}
.bonus .center {
  margin: 30px 0 30px;
}
.bonus .icon {
  position: absolute;
  top: 20px;
  left: 30px;
  height: 50px;
  width: 50px;
  background: #F6F7F8;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bonus .cen {
  position: absolute;
  top: 200px;
  left: 200px;
  height: 50px;
  width: 50px;
  background: #F6F7F8;
  border-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bonus__title {
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: #0F2336;
  font-weight: bold;
}
.bonus__desc {
  font-size: 16px;
  line-height: 24px;
  color: #576D81;
  margin-top: 25px;
}
.bonus .top {
  position: absolute;
  top: -30px;
  left: 120px;
}
.bonus .bottom {
  position: absolute;
  bottom: -30;
  left: 120px;
}
.bonus__img {
  position: absolute;
  top: -90px;
  right: 197px;
}

.presents {
  padding: 180px 0 150px;
  position: relative;
  z-index: 5;
}
.presents__tel1 {
  position: absolute;
  top: 130px;
  right: 274px;
  z-index: 3;
}
.presents__tel2 {
  position: absolute;
  top: 148px;
  right: 295px;
  z-index: 2;
}
.presents__img3 {
  position: absolute;
  right: 150px;
  top: 294px;
  z-index: 1;
}
.presents__img1 {
  position: absolute;
  right: 536px;
  z-index: 1;
  bottom: 104px;
}
.presents__container {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  background: #F4F5F6;
  border-radius: 50px;
  padding: 115px 0 109px 140px;
}
.presents__content {
  width: 404px;
}
.presents .owl-theme .owl-dots .owl-dot.active span, .presents .owl-theme .owl-dots .owl-dot:hover span {
  background: #00CCCC;
  height: 10px;
  width: 55px;
}
.presents .owl-carousel {
  width: 80%;
}
.presents .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 50px;
  text-align: left;
}
.presents .owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 3px;
}
.presents__subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #576D81;
}
.presents__title {
  font-weight: 900;
  font-size: 40px;
  line-height: 55px;
  color: #0F2336;
  margin: 22px 0 21px;
}
.presents__desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #576D81;
}

.connection {
  padding-bottom: 113px;
}
.connection__content {
  text-align: center;
}
.connection__title {
  font-weight: 900;
  font-size: 50px;
  line-height: 60px;
  color: #0F2336;
  margin: 23px 0 20px;
}
.connection__input {
  background: #F0F0F2;
  border: 1px solid #F0F0F2;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 17px 111px 16px 114px;
}
.connection__btn {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #0F2336;
  background: #00CCCC;
  border: 1px solid #00CCCC;
  box-sizing: border-box;
  border-radius: 14px;
  padding: 16px 35px 17px 36px;
  margin-left: 20px;
  transition: 0.3s;
}
.connection__btn:hover {
  background: #FFFFFF;
  border: 1px solid #00cccc;
  box-shadow: 0 3px 18px rgba(0, 201, 201, 0.55);
}
.connection__store {
  margin: 20px 262px 0;
}
.connection__apple {
  background: #240C39;
  padding: 16px 33px 15px;
  border-radius: 5px;
  margin-right: 24px;
  transition: 0.4s;
}
.connection__apple:hover {
  box-shadow: 0 3px 18px #240c39;
}
.connection__play {
  background: #240C39;
  padding: 16px 26px 15px 32px;
  border-radius: 5px;
  transition: 0.4s;
}
.connection__play:hover {
  box-shadow: 0 3px 18px #240c39;
}

.footer {
  background: #0F2336;
  padding: 85px 0 105px;
  position: relative;
}
.footer__img1 {
  position: absolute;
  left: 0;
  bottom: 22px;
}
.footer__img2 {
  position: absolute;
  right: 0;
  top: 45px;
}
.footer__img3 {
  position: absolute;
  right: 0;
  top: 161px;
}
.footer__container {
  max-width: 1050px;
  display: grid;
  grid-template-columns: 50% 50%;
}
.footer__social {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 41px;
}
.footer__title {
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #00CCCC;
  margin-bottom: 13px;
}
.footer__link {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.39px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 5px;
  transition: 0.4s;
}
.footer__link:hover {
  color: rgba(155, 255, 255, 0.93);
}

/*# sourceMappingURL=style.css.map */
