@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

//============= grid ============//

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}

//=========== header ============//
.header {
  padding: 30px 0;
  position: absolute;
  width: 100%;
  z-index: 3;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    display: flex;
    align-items: center;

    &__mr {
      margin: 0 43px 0 69px;
    }

    &__link {
      font-size: 14px;
      line-height: 17px;
      color: #0F2336;
      font-weight: bold;

      &:hover {
        margin-top: 3px;
        border-bottom: 3px solid #0F2336;
      }
    }

    &__btn {
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
      padding: 16px 26px;
      background: #0F2336;
      border: 1px solid #0F2336;
      box-sizing: border-box;
      border-radius: 8px;
      transition: .4s;

      &:hover {
        background: #F5F6F7;
        color: #0F2336;
        border: 1px solid #0F2336;
      }
    }
  }
}

//======== hero =======//

.hero {
  background: #F5F6F7;
  position: relative;
  padding: 199px 0 185px;
  z-index: 2;


  &__img-people {
    position: absolute;
    right: 232px;
    top: 188px;
  }

  &__img-fog {
    position: absolute;
    right: 100px;
    top: 188px;
    z-index: -2;
  }

  &__img-wood1 {
    position: absolute;
    right: 697px;
    top: 390px;
    z-index: -1;
  }

  &__img-wood2 {
    position: absolute;
    right: 191px;
    top: 161px;
    z-index: -1;
  }

  &__content {
    width: 553px;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 136px;
  }

  &__title {
    font-weight: bold;
    font-size: 55px;
    line-height: 76px;
    letter-spacing: 1.11px;
    color: #00CCCC;
  }

  &__subtitle {
    font-weight: bold;
    font-size: 55px;
    line-height: 76px;
    letter-spacing: 1.11px;
    color: #0F2336;
  }

  &__btn {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #0F2336;
    background: #00CCCC;
    border: 1px solid #00CCCC;
    box-shadow: 0 3px 18px rgba(0, 201, 201, 0.55);
    border-radius: 14px;
    transition: .4s;
    padding: 19px 0;
    width: 208px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: rgba(2, 156, 156, 0.8);
      border: 1px solid #00CCCC;
    }

    svg {
      margin-left: 10px;
    }
  }
}

//========= sentence ========//

.sentence {
  padding: 100px 0 58px;

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__content {
    width: 293px;
  }

  &__order {
    margin-right: 60px;
    width: 349px;
  }

  &__title {
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.2px;
    color: #0F2336;
    margin: 29px 0 12px;
  }

  &__desc {
    font-size: 16px;
    line-height: 24px;
    color: #576D81;
  }
}

//====== work =======//

.work {
  padding: 100px 0 220px;
  position: relative;
  z-index: 3;

  &__tel1 {
    position: absolute;
    left: 309px;
    top: 45px;
    z-index: 2;
  }

  &__tel2 {
    position: absolute;
    left: 328px;
    top: 61px;
    z-index: 1;
  }

  &__img1 {
    position: absolute;
    top: 220px;
    left: 184px;
  }

  &__img3 {
    position: absolute;
    bottom: 167px;
    left: 539px;
    z-index: 2;
  }

  &__container {
    background: #F4F5F6;
    border-radius: 50px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    Width: 1140px;
    Height: 540px;

  }

  &__content {
    width: 414px;
  }


  &__subtitle {
    font-size: 18px;
    line-height: 18px;
    color: #576D81;
  }

  &__title {
    font-weight: 900;
    font-size: 40px;
    line-height: 55px;
    color: #0F2336;
    margin: 22px 0 21px;
  }

  &__desc {
    font-size: 16px;
    line-height: 24px;
    color: #576D81;
  }
}

//====== bonus =======//

.bonus {
  background: #F4F5F6;

  &__container {
    height: 527px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__content {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 30px;
    background: #FFFFFF;
    width: 455px;
    height: 179px;
  }

  .icon {
    height: 50px;
    width: 50px;
    background: #F6F7F8;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

//======= presents ======//

.presents {
  padding: 180px 0 150px;
  position: relative;
  z-index: 5;

  &__tel1 {
    position: absolute;
    top: 130px;
    right: 274px;
    z-index: 3;
  }

  &__tel2 {
    position: absolute;
    top: 148px;
    right: 295px;
    z-index: 2;
  }

  &__img3 {
    position: absolute;
    right: 150px;
    top: 294px;
    z-index: 1;
  }

  &__img1 {
    position: absolute;
    right: 536px;
    z-index: 1;
    bottom: 104px;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    Width: 1140px;
    Height: 540px;
    background: #F4F5F6;
    border-radius: 50px;

  }

  &__content {
    width: 404px;
    margin-left: 140px;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #576D81;
  }

  &__title {
    font-weight: 900;
    font-size: 40px;
    line-height: 55px;
    color: #0F2336;
    margin: 22px 0 21px;
  }

  &__desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #576D81;
  }

}

//=========== connection =======//

.connection {
&__content{
  text-align: center;
}

  &__title {
    font-weight: 900;
    font-size: 50px;
    line-height: 60px;
    color: #0F2336;
    margin: 23px 0 20px;
  }

  &__input {
    background: #F0F0F2;
    border: 1px solid #F0F0F2;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 17px 111px 16px 114px;
  }

  &__btn {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #0F2336;
    background: #00CCCC;
    border: 1px solid #00CCCC;
    box-sizing: border-box;
    border-radius: 14px;
    padding: 16px 35px 17px 36px;
    margin-left: 20px;

  }

  &__store{
    margin: 10px 262px 0;
  }

  &__apple {
    background: #240C39;
    padding: 16px 33px;
    border-radius: 5px ;
    margin-right: 24px;


  }

  &__play {
    background: #240C39;
    padding: 16px 33px;
    border-radius: 5px ;
  }
}